@layer base {
    :root{
        /* colors */
        --darkgrey : #1d1e22;
        --icewhite: #dce5e7;
        --teal :  #2f927a;
        --orange : #b46e2a;
        --lightpurple : #8d75d3;
        --electricblue: #4783b1;
        /* font families */
        --main : "Roboto Condensed", sans-serif;
        --heading :"Albert Sans", sans-serif;
        /* type scale */
        --base-size: 1rem;
        --scale: 1.2;
        --h1: calc(var(--h2)*var(--scale));
        --h2: calc(var(--h3)*var(--scale));
        --h3: calc(var(--h4)*var(--scale));
        --h4: calc(var(--h5)*var(--scale));
        --h5: calc(var(--h6)*var(--scale));
        --h6: var(--base-size);
    }
    html {
        box-sizing: border-box;
    }
    *,*::before,*::after {
        box-sizing: inherit;
    }
    .sr-only:not(:focus):not(:active) {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    body {
        background: url("/images/main-background.png");
        background-repeat: no-repeat;
        background-color: #0a0b0e;
        font-family: var(--main);
        background-size: 100vw 100vh;
    }
    h1,h2,h3,h4,h5,h6{
        color: var(--icewhite);
        font-family: var(--heading);
        margin: 0;
        padding: 0;
    }
    p{
        font-family: var(--main);
        color: var(--icewhite);
    }
    .teal{
        color:var(--teal);
    }
    .orange{
        color: var(--orange);
    }
    .purple{
        color: var(--lightpurple);
    }
    .blue{
        color: var(--electricblue);
    }
    .basePanel {
        width: 45vw;
        margin: 2rem auto;
        background-color: var(--darkgrey);
        border: 0.25rem double var(--icewhite);
        border-radius: 1rem;
    }
    .sheetPanel {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        width: 85vw;
        margin: 2rem auto;
        background-color: var(--darkgrey);
        border: 0.25rem double var(--icewhite);
        border-radius: 1rem;
    }
    .sheetSectionLeft{
        width: 37%;
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .sheetSectionLeft .sectionElement legend{
        text-align: left;
    }
    .sheetSectionMiddle{
        width: 26%;
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .sheetSectionMiddle .sectionElement legend{
        text-align: center;
    }
    .sheetSectionRight{
        width: 37%;
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .sheetSectionRight .sectionElement legend{
        text-align: right;
    }
    .sectionElement{
        width: 96%;
        margin: 0.5rem auto;
    }
    .sectionElement fieldset{
        border: 3px solid var(--icewhite);
        border-radius: 0.25rem;
    }
    .sectionElement legend{
        color: var(--icewhite);
        font-family: var(--heading);
        font-size: var(--h3);
    }
    .transmission-button {
        background-color: var(--darkgrey);
        color: var(--icewhite);
        border: 0.25rem double var(--icewhite);
        border-radius: 0.5rem;
        padding: 1rem 2rem;
        font-size: var(--h4);
        font-family: var(--main);
    }
}
@layer Landing-Page {

    #landing-label {
        position: static;
        width: 20vw;
        border: 0.25rem double var(--icewhite);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        margin: auto auto;
        margin-top: -0.25rem;
    }
    #landing-label > img{
        width: 100%;
        padding: 0 2rem;
    }
    #landing-Description {
        color: var(--icewhite);
        margin: 2rem 3rem;
        margin-bottom: 3rem;
        border-radius: 1rem;
    }
    #landing-Description>legend {
        font-weight: bold;
        font-size: var(--h1);
        font-family: var(--heading);
        text-align: left;
        padding-inline-end: 1rem;
        margin: 0;
    }
    #landing-Description>p {
        margin: 0.5rem 1.5rem;
        font-family: var(--main);
        font-size: var(--h5);
    }
    #landing-Buttons {
        width: 45vw;
        margin: 2rem auto;
        display: flex;
        justify-content: space-around;
    }
}
@layer Character-Sheet{
    @layer Character-Sheet-Base{
        .logContainer{
            width: 100%;
            margin: 0.25rem auto;
        }
        .log{
            width: 90%;
            margin: auto 1rem;
            padding: 1rem 1.5rem;
            background-color: var(--icewhite);
            border: 2px solid #ccc;
            border-radius:1rem;
            color : var(--darkgrey);
            font-family: var(--main);
            font-weight: 600;
            font-size: var(--h6);
            resize: none;
        }
    }
    @layer CharacterAspect{
        #characterAspect{
            
        }
        #aspectContainer{
            margin: 0;
            padding: 0.25rem;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;
        }
        #aspectImage{
            width: 42.5%;
        }
        #data-characterImage{
            width: 100%;
            padding: 0;
            margin: 0.15rem;
            border: 2px solid white;
        }
        #aspectValues{
            width: 55%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: center;
        }
        #informationHolder{
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }
        #data-characterBackground > p{
            margin: 0 auto;
            color: var(--darkgrey);
            padding: 1rem 1.5rem;
            background-color: var(--icewhite);
            border-radius: 1rem;
            font-weight: bold;
            font-size: var(--h6);
        }   
        .aspectValueHolder{
            color: var(--darkgrey);
            background-color: var(--icewhite);
            border: 2px solid var(--darkgrey);
            border-radius: 2rem;
            padding: 0.4rem 2rem;
            margin: 0.2rem;
            font-weight: bold;
            font-size: var(--h6);
        }
    }
    @layer characterInventory{
        #characterInventory{

        }
        #inventoryHolder{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            margin: 1rem auto;
        }
        .inventoryItem{
            width: 85%;
            height: 50px;
            margin: -0.45rem auto;
        }
        #rightBasedItem{
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            align-items: center;
        }
        #leftBasedItem{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
        }
        .itemClockContainer{
            position: relative;
            width: 65px;
            height: 65px;
            margin: -2rem;
        }
        .itemClockBorder{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background-color: var(--icewhite);
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            width: 100%;
            height: 100%;
        }
        #data-itemClock{
            position: absolute;
            top: 3.5px;
            left: 3.5px;
            z-index: 2;
            background: url("/images/Clock-Images/4x-Clock/fourstate-3.png");
            background-position: center;
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            width: 90%;
            height: 90%;
        }
        .itemDataHolder{
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
        }
        .itemDataHolder > p{
            margin: 0;
            padding: 0.15rem 2rem;
            width: 12.5vw;
            color: var(--icewhite);
            font-weight: bold;
            font-size: 0.7rem;
            background-color: var(--darkgrey);
            border: 2px solid var(--icewhite);
        }
        #data-itemName{
            color: var(--electricblue);
            border-bottom: none;
        }
        #data-itemTags{
            color: var(--orange);
        }
    }
    @layer SheetLogo{
        #sheetLogo{

        }
        #reachSpanLogo{
            width: 100%;
        }
    }
    @layer CharacterStat{
        #characterStats{
            
        }
        #statHolder{
            width: 95%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-start;
            gap: 0.5rem;
        }
        .statElement{
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: center;
            border: 2px solid var(--icewhite);
            border-left: none;
            border-right: none;
        }
        .statElement p{
            margin: auto 0;
            padding: 0;
        }
        .directAttribute{
            width: 30%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
        }
        .directAttribute > p{
            color: var(--electricblue);
        }
        .statContainer{
            width: 30%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
        }
        .statContainer > #statName{
            color: var(--icewhite);
        }
        .adaptiveAttribute{
            width: 30%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
        }
        .adaptiveAttribute > p{
            color: var(--lightpurple);
        }
        .arrowUp , .arrowDown {
            width: 5%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
        }
        .arrowUp >p, .arrowDown >p {
            font-size: var(--h2);
        }
    }
    @layer CharacterMoxie{
        #characterMoxie{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }
        #moxieHolder{
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            border: 2px solid var(--icewhite);
            border-left: none;
            border-right: none;
        }
        #moxieButtons{
            padding: 0.5rem;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            gap: 1rem;
        }
        #moxeiDecreseButton{

        }
        #data-characterMoxie{

        }
        #moxeiRefreshButton{
        }
        #moxieKeyWords{
            margin: 0.25rem 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 0.25rem;
        }
        #moxieKeyWords > p{
            margin: 0;
            font-weight: bold;
            font-size: var(--h3);
        }
    }
    @layer CharacterConditions{
        #characterConditions{
            
        }
        #characterConditions .log{
            height: 20vh;
        }
    }
    @layer CrewHeat{
        #crewHeat{
            margin: 1.5rem 0 0 0 ;
            padding: 0.25rem;
            border: 2px solid var(--icewhite);
            border-left: none;
            border-right: none;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }
        #heatTitle{
            width: 15%;
            padding: 0;
            margin: 0.5rem 2rem;
            color: var(--icewhite);
            font-size: 45px;
        }
        #heatImageContainer{
            width: 50%;
            margin: 0;
        }
        #data-heatImage{
            width: 100%;
            margin: 0.5rem -2rem;
        }
    }
    @layer ShipInformantion{
        #shipInformantion{
            
        }
        .shipInformantionHolder{
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: space-around;
        }
        .shipAsspects{
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-around;
        }
        .shipAsspects > p{
            width: 45%;
            margin: 0;
            padding: 0.5rem 1rem;
            text-align: center;
            font-weight: bold;
            color: var(--darkgrey);
            background-color: var(--icewhite);
            border-radius: 1rem;
        }
        .shipModules{
            margin: 1rem 0;
            padding: 0.5rem 0;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: center;
            border-top: 2px solid var(--icewhite);
        }
        #moduleSection{
            width: 27.5%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: space-between;
        }
        .shipModule{
            width: 100%;
            height: 50px;
            margin: 0.75rem auto;
        }
        .moduleClockContainer{
            position: relative;
            width: 65px;
            height: 65px;
            margin: -2rem;
        }
        .moduleClockBorder{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background-color: var(--icewhite);
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            width: 100%;
            height: 100%;
        }
        #data-moduleClock{
            position: absolute;
            top: 3.5px;
            left: 3.5px;
            z-index: 2;
            background: url("/images/Clock-Images/4x-Clock/fourstate-3.png");
            background-position: center;
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            width: 90%;
            height: 90%;
        }
        #shipImageContainter{
            width: 27.5%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
        }
        #data-shipImage{
            width: 100%;
            padding: 0;
            margin: 0.15rem;
            border: 2px solid white;
        }
        .moduleDataHolder{
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
        }
        .moduleDataHolder >p{
            margin: 0;
            width: 7vw;
            color: var(--icewhite);
            font-weight: bold;
            font-size: 0.7rem;
            background-color: var(--darkgrey);
            border: 2px solid var(--icewhite);
        }
        #leftBasedItem >.moduleDataHolder >p{
            padding: 0.15rem 0.5rem 0.1rem 2.25rem;
        }
        #rightBasedItem >.moduleDataHolder >p{
            padding: 0.15rem 2.25rem 0.1rem 0.5rem;
        }
        #data-moduleName{
            color: var(--electricblue);
            border-bottom: none;
        }
        #data-moduleTags{
            color: var(--orange);
        }
        .shipCargo{
            width: 80%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            margin: 0 auto;
        }
        .cargoModule{
            width: 100%;
            height: 50px;
            margin: 0 auto;
        }
        .cargoClockContainer{
            width: 50px;
            height: 50px;
            margin: -2rem;
            z-index: 1;
        }
        #data-cargoClock{
            width: 100%;
            height: 100%;
            background: url("/images/Clock-Images/4x-Clock/fourstate-1.png");
            background-position: center;
            border: 3px solid var(--icewhite);
        }
        .cargoDataHolder{
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
        }
        .cargoDataHolder >p{
            margin: 0;
            width: 11vw;
            color: var(--icewhite);
            font-weight: bold;
            font-size: 0.7rem;
            background-color: var(--darkgrey);
            border: 2px solid var(--icewhite);
        }
        #leftBasedItem >.cargoDataHolder >p{
            padding: 0.15rem 0.5rem 0.1rem 2.25rem;
        }
        #rightBasedItem >.cargoDataHolder >p{
            padding: 0.15rem 2.25rem 0.1rem 0.5rem;
        }
        #data-cargoName{
            color: var(--electricblue);
            border-bottom: none;
        }
        #data-cargoTags{
            color: var(--orange);
        }
    }
    @layer ContactNotes{
        #contactNotes{
            
        }
        #contactNotes .log{
            height: 24vh;
        }
    }
}