@layer base {
    :root{
        /* colors */
        --darkgrey : #1d1e22;
        --icewhite: #dce5e7;
        --teal :  #2f927a;
        --orange : #b46e2a;
        --darkpurple : #4d3b83;
        --electricblue: #4783b1;
        /* font families */
        --main : "Roboto Condensed", sans-serif;
        --heading :"Albert Sans", sans-serif;
        /* type scale */
        --base-size: 1rem;
        --scale: 1.2;
        --h1: calc(var(--h2)*var(--scale));
        --h2: calc(var(--h3)*var(--scale));
        --h3: calc(var(--h4)*var(--scale));
        --h4: calc(var(--h5)*var(--scale));
        --h5: calc(var(--h6)*var(--scale));
        --h6: var(--base-size);
    }
    html {
        box-sizing: border-box;
    }
    *,*::before,*::after {
        box-sizing: inherit;
    }
    .sr-only:not(:focus):not(:active) {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    body {
        background: url("/images/main_background.png");
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
    }
    .basePanel {
        width: 45vw;
        margin: 2rem auto;
        background-color: var(--darkgrey);
        border: 0.25rem double var(--icewhite);
        border-radius: 1rem;
    }
    .sheetPanel {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        width: 80vw;
        margin: 2rem auto;
        background-color: var(--darkgrey);
        border: 0.25rem double var(--icewhite);
        border-radius: 1rem;
    }
    .sheetSection{
        width: 32.5%;
        margin: 1rem 0.5rem;
        background-color: red;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .sectionElement{
        width: 90%;
        height: 50px;
        margin: 1rem auto;
        background-color:  blue;
    }
    .transmission-button {
        background-color: var(--darkgrey);
        color: var(--icewhite);
        border: 0.25rem double var(--icewhite);
        border-radius: 0.5rem;
        padding: 1rem 2rem;
        font-size: var(--h4);
        font-family: var(--main);
    }
}
@layer Landing-Page {

    #landing-label {
        position: static;
        width: 20vw;
        height: 12vh;
        border: 0.25rem double var(--icewhite);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        margin: auto auto;
        margin-top: -0.25rem;
    }

    #landing-Description {
        color: var(--icewhite);
        margin: 2rem 3rem;
        margin-bottom: 3rem;
        border-radius: 1rem;
    }

    #landing-Description>legend {
        font-weight: bold;
        font-size: var(--h1);
        font-family: var(--heading);
        text-align: left;
        padding-inline-end: 1rem;
        margin: 0;
    }

    #landing-Description>p {
        margin: 0.5rem 1.5rem;
        font-family: var(--main);
        font-size: var(--h5);
    }

    #landing-Buttons {
        width: 45vw;
        margin: 2rem auto;
        display: flex;
        justify-content: space-around;
    }
}
@layer Character-Sheet{
    @layer CharacterAspect{
        #characterAspect{
            background-color: #5d14d1;
        }
    }
    @layer CharacterStat{
        #characterStats{
            background-color: #2cd60a;
        }
    }
    @layer CharacterInventory{
        #characterInventory{
            background-color: #e933bb;
        }
    }
    @layer SheetLogo{
        #sheetLogo{
            background-color: #dfdb20;
        }
    }
    @layer CharacterInformation{
        #characterInformation{
            background-color: #18dfdf;
        }
    }
    @layer CharacterConditions{
        #characterConditions{
            background-color: #735cc5;
        }
    }
    @layer ContactNotes{
        #contactNotes{
            background-color: #458b4b;
        }
    }
    @layer CrewHeat{
        #crewHeat{
            background-color: #304088;
        }
    }
    @layer ShipInformantion{
        #shipInformantion{
            background-color: #bec1cf;
        }
    }
    @layer LocationsLog{
        #locationsLog{
            background-color: #681f2b;
        }
    }  
}